:root {
    --textcolor: #311847;
    --headercolor: #A01A7D;
    --accentcolor: #ff295b;
    --backgroundcolor: #311847;
    --outline-color: #cc0f0f;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verh1dana, sans-serif;
    box-sizing: border-box;
    font-weight: 600;
}


html {
    scroll-padding-top: 130px; /* height of sticky header */
}

body {
    background-color: var(--backgroundcolor);
    color: var(--textcolor);
    width: 100%;

}

a {
    display: flex;
    color: var(--textcolor);
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
    position: relative;

}

h1, h2, h3 {
    position:relative;
    font-family: 'Press Start 2P', sans-serif;
    font-weight: 0;
    letter-spacing: 2px;

}

button {
    
    border: none;
    background: none;
    flex: 1;
    position: relative;
}


header {
    justify-content: flex-end;
    display: flex;
    padding: 15px;
    backdrop-filter: blur(6px);
    background-image: url(./images/header.webm);
    background-position: center;
    background-size: cover;
    width: 100%;
}

.header-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    max-width: 975px;
}

header h1 {
    display: flex;
    flex: 0 1 350px;
    font-size: xxx-large;
    text-align: right;
    align-items: center;
}

.title {
    flex-wrap: wrap;
    flex: 0 1 250px;
    align-items: baseline;
}

.sub-title {
    flex: 0 1 125px;
}


nav {
    margin-left: 25px;
    display: flex;
    align-self: flex-end;
    justify-content: space-evenly;
    flex: 0 1 425px;
    width: 100%;
    height: 100%;
    max-height: 65px;


}

nav button {
    appearance: hidden;
    min-width: 125px;
    cursor: pointer;
    background-color: var(--headercolor);
    color: rgba(0,0,0,0);
    height: 40px;

}

nav button span[data-button]{
    font-family: 'Press Start 2P', sans-serif;
    appearance: hidden;
}


nav button span[data-button]:after {
    content: attr(data-button);
    align-items: center;
    justify-content: center;
    display: inline-flex;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    color: var(--headercolor);
    background-color: var(--backgroundcolor);
    transition: all 600ms ease-in;
    
    z-index: 999;
}

nav button:hover span[data-button]:after {
    position: absolute;
    content: attr(data-button);
    align-items: center;
    justify-content: center;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150%;
    color: var(--backgroundcolor);
    background-color: var(--accentcolor);
    transition: all 300ms ease-out;
    z-index: 999;

}




main {
    display: flex;
    margin-right: 25px;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    width: 100%;
    max-width: 900px;

}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 25px;
    align-items: start;
}

.section {
    backdrop-filter: blur(6px) grayscale(30%);
    border: 2px solid var(--accentcolor);
    border-left: 16px solid var(--accentcolor);
    flex: 1 1 400px;
    flex-wrap: wrap;
}

section h2 {
    width: max-content;
    position: relative;
    display: flex;
    flex: 0 1 225px;
    font-weight: 700;

}

.about, .contact .projects{
    padding: 25px;
}


.projects {

}

.projectgrid {
    display: flex;
    flex-wrap: wrap-reverse;
    flex: 1 1 75px;    
    padding: 4px 4px 4px 0px;
    min-height: 375px;

}

.project {
    position: relative;
    display: flex;
    flex: 1 2 125px;
    background-position: center;
    border: 6px solid var(--backgroundcolor);
    padding: 125px 75px;
    margin: 6px;
    filter: grayscale(50%)
}

.project:hover {
    border: 6px solid var(--accentcolor);

}


.project:first-of-type {
    max-width: none;
    flex: 2 1 270px;
}

.project:last-of-type {
    max-width: none;
    flex: 2 1 350px;
}

.project h3 {
    position: absolute;
    font-weight: 600;
    font-size: smaller;
    width: 100%;
    bottom: -110px;
    right: 50px;
    color: var(--accentcolor);

}


.project:hover {
    filter: none;
    transition: all .2s;
}

footer {

}

[data-outline] {
    visibility: hidden;
}

[data-outline]::before {
    visibility: visible;
    position: absolute;
    content: attr(data-outline);
    letter-spacing: 2px;
    bottom: 0px;
    left: 0px;
    color: var(--outline-color);
    filter: url(#crispify);
    filter: url(#outline);
    z-index: 999;
    padding: 5px;
}


[data-outline]::after{
    visibility: visible;
    position: absolute;
    content: attr(data-outline);
    letter-spacing: 2px;
    bottom: 0px;
    left: 0px;
    color: var(--accentcolor);
    filter: url(#crispify);
    z-index: 999;
    padding: 5px;
}

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -3;
  }

@media screen and (max-width: 900px) {

    .project {
        filter: none;
    }
}
@media screen and (max-width: 750px) {

.sub-title {
    display: none;
}


#background-video { display: none; }
body {
  background: url("./images/background.png") no-repeat;
  background-size: cover;
}

}