@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

:root {
  --textcolor: #311847;
  --headercolor: #67448b;
  --accentcolor: #ff0072;
  --backgroundcolor: #dbb8d0;
  --outline-color: #471e3e;
  --nicefont: 'Didact Gothic', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verh1dana, sans-serif;
  box-sizing: border-box;
  font-weight: 600;
  max-width: 100%;
  scroll-behavior:smooth;
}

html {
  scroll-padding-top: 130px; /* height of sticky header */
}

body {

  background-color: var(--backgroundcolor);
  background: url(./assets/images/background.png);
  color: var(--textcolor);

}

a {
  display: flex;
  color: var(--textcolor);
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: none;
  position: relative;
}

p {
  line-height: 1.5;
  text-indent: 2em;
}

h1,
h2,
h3 {
  position: relative;
  font-family: var(--nicefont);
  letter-spacing: 4px;
}

button {
  border: none;
  background: none;
  flex: 1;
  position: relative;
}

header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 980px;
  background-image: url(./assets/images/bar.png);
  background-size: cover;
  background-position: center;
  border: 2px solid var(--accentcolor);
  border-left: 22px solid var(--accentcolor);
  margin-bottom: 1em;
  margin-right: 25px;
  margin-left: auto;
  justify-content: flex-end;
}

header h1 {
  flex: 1 0 50%;
  font-size: 4em;
}
header h2 {
  width: min-content;
  font-size: 1em;
  align-items: start;
  text-align: left;
  height: min-content;
  flex: 1 1;
}


nav {
  display: flex;
  flex: 1 0 100%;
  justify-content: flex-end;
  width: 100%;
  max-width: 600px;

  
}

nav button {
  align-items: center;
  display: flex;
  flex: 1 0 100px;
  justify-content: center;
  margin-left: 15px;
  min-width: 115px;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid var(--accentcolor);
  border-bottom: none;
  border-left: 6px solid var(--accentcolor);
  height: 40px;
  transition: all 0.1s ease-in;
  font-size: large;
}

nav span {
  z-index: 3;
  font-family: var(--nicefont);
}

nav button:hover {
  transition: all 0.1s ease-out;
}

nav a div {
  position: absolute;
  display: flex;
  align-items: end;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 100%;
  transition: all 0.4s ease-in;
}

nav a:hover div {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background-color: var(--accentcolor);
  transition: all 0.2s ease-in;
}




main {
  display: flex;
  margin-right: 25px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  width: 100%;
  max-width: 900px;
}

section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 25px;
  align-items: start;
}

.section {
  backdrop-filter: blur(16px) grayscale(80%);
  border: 2px solid var(--accentcolor);
  border-left: 16px solid var(--accentcolor);
  flex: 1 1 400px;
  flex-wrap: wrap;
}

section h2 {
  width: max-content;
  position: relative;
  display: flex;
  flex: 0 1 225px;
  font-weight: 700;
}

.about,
.contact .projects {
  padding: 25px;
}


.projectgrid {
  display: flex;
  flex-wrap: wrap;
  padding: 4px 4px 4px 4px;
  min-height: 375px;
}

.project {
  display: flex;
  margin: 4px;
  border: 2px solid var(--accentcolor);
  border-left: 6px solid var(--accentcolor);
  flex: 1 0;
  transition: all 0.3s ease-out;
  transform-origin: 50%;

}

.project a {
  display: flex;
  flex-grow: 1;
}

.project a div {
  background-size: fill ;
  background-attachment: static;
  background-position: 0;
  width: 100%;
  flex-grow: 1;
  filter: grayscale(50%) blur(4px);
}

.project:hover a div{
  width: 150px;
  filter: saturate(110%);
}

.project:hover {

  filter: grayscale(0%) saturate(110%);
  transition: all 0.1s ease-out;
  flex: 1 0 40%
}

.project:hover h3{
  font-size: 1.5em;
  transition: all 0.1s ease-out;
  transform: none;
  transform-origin: 0 100%;
}

.project h3 {
  position: absolute;
  font-size: 1em;
  font-weight: 600;
 
  transition: all 0.3s ease-out;
  transform: rotate(-90deg) translate(-50%, 50%);
  transform-origin: 0 100%;
} 

.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 900px;
}

.contactItem img {
  position: relative;
  right: 15%;
  top: 0;
  left: 0;
  width: 4em;
  height: 4em;
  margin-right: 5px;
  transform: rotate(-15deg);
  filter: invert(15%) sepia(100%) saturate(3.5) hue-rotate(220deg); /* svg cannot be simply filled with hex here. a bunch of filters is the obvious solution */
}

.contactItem:hover img {
  transition: all 0.1s ease-out;
  transform: none;
  backdrop-filter: glow(0.5px);
}

.contactItem span{
  display: inline-block;
  font-size: 1.5em;
  margin-left: 15px;
}

.contactItem {
  display: flex;
  flex: 1 0 100px;
  align-items: center;
  
}

footer {
  margin-right: 25px;
  margin-left: auto;
  text-align: right;
  font-size: small;
}

[data-outline] {
  visibility: hidden;
  padding-bottom: 5vh;
}

[data-outline]::before {
  display: flex;
  visibility: visible;
  position: absolute;
  justify-content: center;
  content: attr(data-outline);
  letter-spacing: 2px;
  top: 50%;
  left: 50%;
  font-weight: 800;
  width: max-content;
  color: var(--outline-color);
  filter: url(#outline);; /* references the svg filter toward the bottom of the html, i put comments there */
  z-index: 999;
  transform: translate(-50%, -50%);
}

[data-outline]:hover::before {
  
  color: var(--textcolor);
  transition: all 0.3s ease-in;
}

[data-outline]::after {
  font-weight: 800;
  width: max-content;
  visibility: visible;
  position: absolute;
  content: attr(data-outline);
  letter-spacing: 2px;
  top: 50%;
  left: 50%;
  color: var(--accentcolor);
  z-index: 999;
  transform: translate(-50%, -50%);
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -3;
}

@media screen and (max-width: 980px) {
  .projects figure {
    filter: none;

    flex: 1 0 250px;
   }

   .projects figure:hover {
    flex: 1 0 250px;
   }


  header {
    display: flex;
    flex-wrap: wrap;
  }

  [data-outline]::before {
    display: none;
  }

  [data-outline]::after {
    display: none;
  }

  [data-outline] {
    visibility: visible;
    padding-bottom: 0;
  }

  header {
    display: flex;

    flex-wrap: wrap;
    align-items: flex-end;
    height: max-content
  }

  header h1 {
    font-size: 3.25em;

  }

}

@media screen and (max-width: 750px) {
  header h2 {
    display: none;
  }

  #background-video {
    display: none;
  }
  
  nav {
    flex: 0 1;    
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
  }

  
  nav button {
    
    margin-right: 0;
    margin-bottom: 5px;
    border-right: none;
    border-bottom: 2px solid var(--accentcolor);
  }
}



@media (prefers-reduced-motion) {
  #background-video {
    display: none;
  }

  span[data-button]:after {
    display: none;
  }


}
